#welcome{
    text-align: center;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    max-width: 500px;
}


#welcome p {
    color: #8435de;
}

